<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>

    <th::boothstrap_block th:replace="~{/base :: base_boothstrap_css}"></th::boothstrap_block>

    <!--- My CSS --->
    <link rel="stylesheet" type="text/css" href="hobbystyle.css">

</head>
<body>
    <div th:insert="base :: base_navigator"></div>
    <div class="jumbotron">
        <h1 class="display-4" name="title">Calendar</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThxer-eaJ3nXRAetenTK4QeKAtX7LYAW8G2AROXbwy1tZsei2R8A"
                     alt="Under Construction">
            </div>
            <div class="col"></div>
        </div>
    </div>

    <th::footer_block th:replace="~{/base :: base_footer}"></th::footer_block>
    <th::boothstrap_block2 th:replace="~{/base :: base_boothstrap_style}"></th::boothstrap_block2>

</body>
</html>